<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sighting detail</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .c1 {
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 50px">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center c1">You can edit the sighting here:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>longitude</th>
                        <th>latitude</th>
                        <th>unique squirrel id</th>
                        <th>shift</th>
                        <th>date</th>
                        <th>age</th>
                        <th>primary fur color</th>
                        <th>location</th>
                        <th>specific location</th>
                        <th>running</th>
                        <th>chasing</th>
                        <th>climbing</th>
                        <th>eating</th>
                        <th>foraging</th>
                        <th>other activities</th>
                        <th>kuks</th>
                        <th>quaas</th>
                        <th>moans</th>
                        <th>tail flags</th>
                        <th>tail twitches</th>
                        <th>approaches</th>
                        <th>indifferent</th>
                        <th>runs from</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>{{sighting.longitude}}</td>
                        <td>{{sighting.latitude}}</td>
                        <td>{{sighting.unique_squirrel_id}}</td>
                        <td>{{sighting.shift}}</td>
                        <td>{{sighting.date}}</td>
                        <td>{{sighting.age}}</td>
                        <td>{{sighting.primary_fur_color}}</td>
                        <td>{{sighting.location}}</td>
                        <td>{{sighting.specific_location}}</td>
                        <td>{{sighting.running}}</td>
                        <td>{{sighting.chasing}}</td>
                        <td>{{sighting.climbing}}</td>
                        <td>{{sighting.eating}}</td>
                        <td>{{sighting.foraging}}</td>
                        <td>{{sighting.other_activities}}</td>
                        <td>{{sighting.kuks}}</td>
                        <td>{{sighting.quaas}}</td>
                        <td>{{sighting.moans}}</td>
                        <td>{{sighting.tail_flags}}</td>
                        <td>{{sighting.tail_twitches}}</td>
                        <td>{{sighting.approaches}}</td>
                        <td>{{sighting.indifferent}}</td>
                        <td>{{sighting.runs_from}}</td>
                        <td><a href="/track/sightings/{{sighting.unique_squirrel_id}}/update" class="btn btn-primary">Update</a>
                        <a href="/track/sightings/{{sighting.unique_squirrel_id}}/delete" class="btn btn-danger">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
